# create an edpuzzle teacher account and fill in the email/password below
ACCOUNT_EMAIL=edpuzzle_teacher_account@email.com
ACCOUNT_PASSWORD=very_secure_password_trust

# do not change this unless you know what you're doing
PORT=2299